*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
*.xml
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_posts/2020-02-20-test.md
_posts/2022-08-22-BashChecks.md
_posts/2022-08-22-Jupiter-Notebook-1.md
_posts/2022-08-23-Python-Fundimentals.md
_posts/2022-08-25-ToolChecks.md
_posts/2022-08-26-Python-Quiz-Notebook.md
_posts/2022-08-28-test-word-doc.md
_posts/2022-08-30-Python-Lists-Et-Cetera.md
_posts/2022-09-07-CodeOrg-Quiz.md
settings.ini
